//-------------------------------------searchs----------------------------------------------
.searchBs{
    display: none;
}
.mySearchBox{
    display: block;
}

.searchBs{
    display: none;}
.mySearchBox{
    display: block;
    margin-top: 40px;
}
.mySearchBox form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
}

.mySearchBox form input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 25px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 11px;
    width: 37.8px;
    height: 37.8px;
    position: absolute;
    top: -8px;
    right: -5px;
    border-radius: 50%;
    color: #ffffff; 
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
    padding: 10px;
}
//---------------------------------------------------------------------------------------------------------