   .form__container--padding{
    padding-top: 10em;
  }
  .form__containerLogin--margin{
    margin: auto;
    margin-bottom: 16em;
  }
  .form__containerRegister--margin{
    margin: auto;
    margin-bottom: 12em;
  }
  .form__input--widht {
    width: 25%;
  }