
.titleMovie--backgroundColor{
    background-image: $color-background-secondary-gradient;
}
.titleMovie--height{
    height: auto;
}
.titleMovie__img{
    min-width: 58px;
    width: 58px;
    height: 87px;
    box-sizing: border-box;
}
.trailer--height{
    height:78vh;
}

br{
    display: none;
  }
